#senai-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(50px);
  background-color: #fafafa;
}

.formContainer {
  width: 400px;
  height: 500px;
  padding: 0px 40px 30px 40px;
  border-bottom-left-radius: 10px;
}

.wrapper {
  width: 1000px;
  height: 500px;
  background-color: white;
  color: #2c343a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
}

.formContainer h1 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.formContainer .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box {
  position: relative;
  width: 100%;
}

.input-box {
  position: relative;
  width: 100%;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid #2c343a;
  border-radius: 40px;
  padding: 20px 20px 20px 20px; /* Ajuste conforme necessário */
  padding-right: 40px; /* Espaço para o ícone */
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
  background-image: none; /* Remova a imagem padrão de fundo do input */
}

.input-box input::placeholder {
  color: #2c343a;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.formContainer .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
}

.remember-forgot label input {
  margin-right: 3px;
}

.remember-forgot a {
  color: #2c343a;
  text-decoration: none;
}

.remember-forgot a:hover {
  color: #2c343a;
  text-decoration: underline;
}

.formContainer .btn {
  width: 100%;
  height: 45px;
  background: linear-gradient(to right, #101f62, #511b9e);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10x rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.formContainer .remember-forgot {
  font-size: 14.5px;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 151px;
  width: 270px;
}

.logoLogin img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  left: 22px;
}

.label-remember {
  display: block;
  text-align: right; /* Alinha o texto para a direita */
  font-size: 12px;
  color: #2c343a; /* Cor do texto */
  cursor: pointer;
  position: relative;
  bottom: 20px;
  transition: color 0.3s ease; /* Efeito de transição de cor durante hover */
}

.label-remember:hover {
  color: #2c343a;
  text-decoration: underline;
}

.image-container img {
  width: 600px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
