
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --fontFamily: 'Noto Sans', sans-serif;
  --colorPrimary: #051766;
  --colorSecondary: #E5EDEA;
  --colorSuccess: #6EC936;
  --colorInfo: #45bfd6;
  --colorWarning: #f3ab15;
  --colorHelp: #511b9e;
  --colorDanger: #DC2626;
}

:where(.css-dev-only-do-not-override-gfulgj).ant-btn-primary {
  box-shadow: none
}
.ifes-btn-primary {
  background-color: var(--colorPrimary) !important;
  color: white;
}

.ifes-btn-secondary {
  background-color: var(--colorSecondary) !important;
  color: white;
}

.ifes-btn-success {
  background-color: var(--colorSuccess) !important;
  color: white;
}

.ifes-btn-info {
  background-color: var(--colorInfo) !important;
  color: white;
}

.ifes-btn-warning {
  background-color: var(--colorWarning) !important;
  color: white;
}

.ifes-btn-help {
  background-color: var(--colorHelp) !important;
  color: white;
}

.ifes-btn-danger {
  background-color: var(--colorDanger) !important;
  color: white;
}

.ifes-icon{
  font-size: 18px;
}

.ant-modal-footer .ant-btn-primary{
  background-color: var(--colorSuccess);
}

.ant-modal-footer :where(.css-dev-only-do-not-override-1o7wsed).ant-btn-default {
  background-color: var(--colorWarning);
}



/* stylelint-disable */
html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--fontFamily);
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: var(--fontFamily);
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
body {
  margin: 0;
}
[tabindex='-1']:focus {
  outline: none;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 600;
  
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}

