.help-icone {
    width: 50px;
    height: 50px;
    background: #051766;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s, box-shadow 0.2s ease 0s, transform 0.2s ease 0s;
    outline: none;
    z-index: 2147483002;
    transform-origin: center center;
    -webkit-tap-highlight-color: transparent;
    /* color: rgb(237, 33, 111); */
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: scale(1) rotate(0deg);
    top: 85%;
}

.btn-help-icone {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 30px;
    bottom: 30px;
    will-change: transform;
    pointer-events: all;
    transform: translateX(1249px) translateY(0px) translateZ(0px);
}

.questions-container {
    display: block;
    
  }
  
.ant-form-item {
margin-bottom: 1rem;
}

