.p-1rem {
  padding: 1rem;
}

:root {
  --nav-height: 4rem;
  --main-height: 1fr;
  --column-width: 80px;
}

.root-layout {
  display: grid;
  grid-template-areas:
    "nav header header"
    "nav main main"
    "nav main main";
  grid-template-rows: var(--nav-height) var(--main-height) var(--main-height);
  grid-template-columns: var(--column-width) 1fr 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#pageNav {
  grid-area: nav;
}

.flex {
  display: flex;
  flex-direction: row;
}

#pageHeader {
  grid-area: header;
}

#pageNav {
  grid-area: nav;
}

#pageMain {
  grid-area: main;
  height: 100%;
  overflow: auto;
  width: 100%;
  background: #E5EDEA;
}


.pb-1rem{
  padding-bottom: 1rem;
}

.shadow{
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 7px -2px rgba(0, 0, 0, 0.09), 0 3px 5px 0 rgba(0, 0, 0, 0);
}

:where(.css-dev-only-do-not-override-rie1lx).ant-menu-light.ant-menu-root.ant-menu-inline{
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 7px -2px rgba(0, 0, 0, 0.09), 0 3px 5px 0 rgba(0, 0, 0, 0);
}